body {
    background: #F6F3F7;
    color: #0F110F;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font: bold;
    user-select: none;
    overflow: hidden;
}
* {
    margin: 0px 0px;
    font-weight: 200;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.x-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.puzzle {
    margin-top: 30px;
    width: 256px;
    height: 256px;
    display: flex;
    flex-wrap: wrap;
    outline: 3px #cbcbcb solid;
    overflow: hidden;
}

button {
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 24px;
    background: #3DCF3E;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}